<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMnHT6Y4rh1ZHDt46C5YtjsPKFUbWkgKs</string>
	<key>GCM_SENDER_ID</key>
	<string>425832404214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewIssues.PhotoEditor</string>
	<key>PROJECT_ID</key>
	<string>photoeditor-1b93a</string>
	<key>STORAGE_BUCKET</key>
	<string>photoeditor-1b93a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425832404214:ios:279ff96cfa6b383d6048d7</string>
</dict>
</plist>